@import '../../../assets/styles/variables.scss';

.footer {
  position: fixed;
  bottom: 0;
  min-height: 5rem;
  width: 100%;
  background-color: $base-dark-5-elements;
  color: $base-text-light;
}

.footer-container {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  min-height: 5rem
}