@import '../../../assets/styles/variables.scss';

.header {
  min-height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: $base-dark-5-elements;
  color: $base-text-light;
}

.header-container {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
.logging-menu {
  li {
    display: inline-block;
    margin-right: 2rem;
  }
}